//- extends layout

//- block content
//-   h1= title
//-   p #{subtitle}


doctype html 
html 
    head
      title Message Board
      style 
        include ../public/stylesheets/style.css
    body
    p #{title} <button ><a href='./new'>New</a> </button>
  
       <ul >
        each message in subtitle
          .homePagePosts
            li= 'User: ' + message.user
            li= 'Message: ' + message.text
            li= 'Date: ' + message.added
              </div>
      
      
