//- extends layout

//- block content
//-   h1= title
//-   p #{subtitle}


doctype html 
html 
    head
      title Message Board
      link(rel='stylesheet', href='../public/stylesheets/style.css', type='text/css')
    body
    p #{title} <button ><a href='./new'>New</a> </button>
  
       <ul>
        each message in subtitle
          <div class='homePagePosts'>
            li= message.user
            li= message.text
            li= message.added
              </div>
      
      
